<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>ch.referralflow.solver-sale</string>
  <key>ProgramArguments</key>
  <array>
    <string>__QUI__/.venv/bin/python</string>
    <string>__QUI__/servizio.py</string>
    <string>8711</string>
  </array>
  <key>WorkingDirectory</key><string>__QUI__</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__HOME__/referti/log/solver-sale.log</string>
  <key>StandardErrorPath</key><string>__HOME__/referti/log/solver-sale.log</string>
</dict>
</plist>
